<div class="ar-container">
  <a-scene
    mindar-image="imageTargetSrc: https://3d.sennse.ispc.cnr.it/sennse-ar/node/target/targets.mind;"
    color-space="sRGB"
    device-orientation-permission-ui="enabled: false"
    xr-mode-ui="enabled: false"
  >
    <a-assets></a-assets>

    <a-camera position="0 0 0" look-controls="enabled: false"></a-camera>

    <ng-container *ngFor="let board of boards">
      <a-entity
        [attr.id]="board.qrCodePath"
        [attr.mindar-image-target]="'targetIndex: ' + board.targetIndex"
      ></a-entity>
    </ng-container>
  </a-scene>
</div>
